@model System.Data.DataTable

@{
    ViewBag.Title = "courselist";
    Layout = "~/Views/Shared/ITLayout.cshtml";
}
<!-- Page Heading -->
@*<h1 class="h3 mb-2 text-gray-800"></h1>
<p class="mb-4"></p>*@

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Course List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th>Course id</th>
                        <th>Course Name</th>
                        <th>Course Code </th>
                        <th>Course Description</th>
                        <th>Author</th>
                        <th>Date Created</th>
                        <th>Duration</th>
                        <th>isActive</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>

                        <th>Course id</th>
                        <th>Course Name</th>
                        <th>Course Code </th>
                        <th>Course Description</th>
                        <th>Author</th>
                        <th>Date Created</th>
                        <th>Duration</th>
                        <th>isActive</th>
                        <th></th><th></th><th></th>
                    </tr>
                </tfoot>

                <tbody>
                    @for (int i = 0; i < Model.Rows.Count; i++)
                    {
                        <tr>
                            <td>
                                @Model.Rows[i][0]
                            </td>
                            <td>
                                @Model.Rows[i][1]
                            </td>
                            <td>
                                @Model.Rows[i][2]
                            </td>
                            <td>
                                @Model.Rows[i][3]
                            </td>
                            <td>
                                @Model.Rows[i][4]
                            </td>
                            <td>
                                @Model.Rows[i][5]
                            </td>
                            <td>
                                @Model.Rows[i][6]
                            </td>
                            <td>
                                @Model.Rows[i][7]
                            </td>
                            <td>@Html.ActionLink("Edit", "editcourses", new { id = Model.Rows[i][0] })</td>
                            <td>@Html.ActionLink("Add Author", "courseauthors", new { id = Model.Rows[i][0] })</td>
                            <td>@Html.ActionLink("Delete", "deletecourse", new { id = Model.Rows[i][0] })</td>      
                            <td>@Html.ActionLink("Add modules", "Addmodule", new { id = Model.Rows[i][0] })</td>                   
                            
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
